/* ! Base Style */
body{font-family: 'Montserrat', sans-serif;font-size: 23px;}

a{text-decoration: none;}

h2, h3, h4, h5, p{color: rgb(255, 254, 254);}

.big-text{font-size: 70px;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}




/* ! Header */

.header{
    height: 175px;
    width: 100%;
    position: fixed, absolute;
    top: 0;
    left: 0;
    padding: 18px;
    display: flex;
    justify-content:center;
    background: #000;
}

.header img{
    height: 100%;
    width: 100%;
}  

.logo{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: -35px;
    height: 215px;
    width: 230px;
}


/* Body */

body{
    background-color: rgb(38, 44, 61);
}


/* Boxes */

.boxes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.box-0{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.inner-img{
    color: black;
    display: flex;
    justify-content:center;
    margin: 2%;
    height: 350px;
    width: 350px;
    border-radius: 23%;
}

/* ! TESTI */

.txt-0{
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(241, 174, 67), 1px -1px 0 rgb(241, 174, 67), -1px 1px 0 rgb(241, 174, 67), 1px 1px 0 rgb(241, 174, 67);
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
   }

.txt-1{
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(241, 174, 67), 1px -1px 0 rgb(241, 174, 67), -1px 1px 0 rgb(241, 174, 67), 1px 1px 0 rgb(241, 174, 67);
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
   } 
   
.txt-2{
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(241, 174, 67), 1px -1px 0 rgb(241, 174, 67), -1px 1px 0 rgb(241, 174, 67), 1px 1px 0 rgb(241, 174, 67);
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
   }

.txt-3{
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(241, 174, 67), 1px -1px 0 rgb(241, 174, 67), -1px 1px 0 rgb(241, 174, 67), 1px 1px 0 rgb(241, 174, 67);
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
   }

















*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}
